// Variables
$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$font-family: 'Arial', sans-serif;
$breakpoint-mobile: 768px;

body {
  font-family: $font-family;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  height: 100vh;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.controlsContainer {
  padding: 1rem;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .filterButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

}

.mapContainer {
  width: 100%;
  height: calc(100vh - 6rem);

  .leaflet-container {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: $breakpoint-mobile) {
  .controlsContainer {
    flex-direction: column;
    padding: 0;
    padding-bottom: 0.5rem;

    
  }
}