.input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 310px;
    margin: 0.5rem;
    padding: 8px;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    input {
      padding: 0.3rem;
      font-size: 16px;
      border: none;
      outline: none;
      background-color: transparent;
      color: #333;
  
      &::placeholder {
        color: #aaa;
      }
    }

  }
  
  /* 📌 Responsive para móviles */
  // @media (max-width: 480px) {
  //   .input-container {
  //     width: 360px;
  //   }
  // }
  